.navbar {
    background-color: #2196f3;
    height: 80vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 20px;
    padding: 20px;
    border-bottom: 1px solid white;
    border-radius: 10px;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    transition: color 0.3s ease;
    font-size: 24px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .active {
    font-weight: bold;
    color: white;
}

.menu-icon {
    display: none;
    /* Hide by default on larger screens */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}


/* Media query for mobile screens */

@media (max-width: 768px) {
    .navbar {
        height: 10vh;
        margin-top: -90%;
    }
    .menu-icon {
        display: block;
        /* Show the hamburger icon on mobile screens */
    }
    .nav-links {
        display: none;
        /* Hide the navigation links by default on mobile screens */
    }
    /* Show navigation links when the menu is open */
    .navbar.open .nav-links {
        display: block;
    }
}