.coming-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    margin-top: 3%;
    margin-left: 5%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 70%;
    position: absolute;
    top: 0%
}

.title {
    font-size: 36px;
    color: #333;
    margin-right: 1px;
    margin-left: 20%;
}

.profile {
    display: flex;
    align-items: flex-end;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile span {
    font-size: 18px;
    color: #333;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.coming-soon-title {
    font-size: 48px;
    color: #b2b2b2;
    margin-right: 20px;
}

.dropdown {
    position: absolute;
    top: 70%;
    right: 1%;
    width: 15%;
    height: 60%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    z-index: 1;
    border-radius: 10px;
}

.horizontal-line {
    width: 60%;
    position: absolute;
    bottom: 82%;
    height: 1px;
    right: 15%;
    background-color: #000;
}

.dropdown span {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    color: #333;
}

.dropdown span:hover {
    background-color: #f0f0f0;
}