.user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    padding: 20px;
    width: 90%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 8%;
}

.profile-picture {
    width: 50%;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-data-section {
    width: 100%;
}

.user-data-section h2 {
    margin-bottom: 8px;
    margin-top: 2px;
    text-align: center;
}

.user-data-section h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    color: grey;
}

.user-data-section p {
    margin: 2% 10%;
    font-size: 18px;
    color: gray;
}

.user-data-section p span {
    font-weight: 500;
    color: black;
}

.address-section {
    width: 70%;
    margin-left: 20px;
    margin-top: 8%;
}

.address-section h3 {
    margin-bottom: 8px;
}

.address-section p {
    color: grey;
    margin: 8px;
}

.address-section b {
    color: black;
}

.map {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

.map iframe {
    width: 70%;
    height: 100%;
}

@media (max-width: 786px) {
    .user-container {
        display: flex;
        flex-direction: column;
        margin-top: 120%;
        width: 100%;
    }
    .user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 8%;
    }
    .user-data-section h2 {
        font-size: 1.5rem;
    }
    .user-data-section p {
        font-size: 12px;
    }
    .address-section {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .address-section h3 {
        margin-bottom: 2px;
        font-size: 1.2rem;
    }
    .address-section p {
        color: grey;
        margin: 5px;
        font-size: 12px;
    }
    .map iframe {
        width: 120%;
        height: 80%;
    }
}